/*	Dyllon Maitland=Bowman
	CSE 154 ASCII Art
	5/21/2013
	This is the style page for the ascii.html page*/

body {
	background-color: #CCF;
	font-family:sans-serif;
	font-size:14pt;
	font-weight:bold;
}

#main {
	text-align:center;
}

#footer {
	text-align:right;
}

h1 {
	font-size:32pt;
	margin:0px;
}

textarea {
	margin-left:auto;
	margin-right:auto;
	width:90%;
	height:400px;
	font-size:12pt;
}

fieldset {
	text-align:left;
}

fieldset {
	border:5px solid black;
	border-radius:10px;
	display:inline;
}

a {
	text-align:right;
}